{% extends 'blog/base_post.html' %} 
{% block head_title %}creating post{% endblock %}
{% block title %}You're creating a new post at Blog: {{blog.title}}{% endblock %}

{% block content %}

{% if error_message %}<p style="color:red" ><strong>{{error_message}}</strong></p>{% endif %}

<p>Author: <b>{{blog.user.username}}</b> 

<form name="createPost" action="{%url 'blog:create_post' blog.slug %}" method="post">
    	{% csrf_token %} 
    	<b>Title:</b> (Please enter a title, which can't be blank and less than 150 characters) <br>
    	<textarea name="title" rows="1" cols="100">	</textarea><br>
    	<b>Body:</b> (enter the body of the article)<br>
    	<textarea name="body" rows="20" cols="100"> </textarea><br>
    	<b>Tags:</b> (Please enter zero or more tags, which are separated by ",")<br> 
    	<textarea name="tags" rows="1" cols="100">  </textarea><br>
    	<input type="submit" value="Submit">
</form>

{%endblock%}
