{% extends 'blog/bootstrap_base.html' %} 
{% block title %}creating a new blog{% endblock %}

{%block content%}

<div class="container">
<br>
<br>
<br>
<form role="form" method="post" style="padding: 15px;min-width: 250px;" action="{%url 'blog:create_blog' user.username %}">
    {% csrf_token %}
    <div class="text-left"> 
        <h2 > Title:</h2>
          	{% if error_message %}<p style="color:red" ><strong>{{error_message}}</strong></p>{% endif %}
    </div>
        
    <div class="center-left" style="padding: 15px;max-width: 500px;">
    	<input type="text" class="form-control" name="title" placeholder="Title" required autofocus>
        <br>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>
</div>
{% endblock %}
