{% extends "blog/bootstrap_base.html" %}
{% load staticfiles %}

{% block title %}{{post.title}}{% endblock %}

{%block header%}
	<br>
	<br>
	<p class="blog-post-title">Create a new post at {{blog.title}}</p>	
{%endblock header%}

{% block posts %}

<form name="editPost" action="{%url 'blog:create_post' blog.slug %}" role="form" method="post" style="padding: 15px;min-width: 250px;" >
    {% csrf_token %}
    <div class="text-left" style="padding: 15px;max-width: 600px;"> 
        Title:
        <br><textarea name="title"  class="form-control" required autofocus ></textarea><br>
        
        Body:
        <br><textarea name="body" class="form-control" required autofocus rows="20"></textarea><br>
       	
       	Tags: (separated by ",")
       	<br><textarea name="tags" class="form-control" required autofocus></textarea><br>

       	Image URL:
		<br><textarea name="image" class="form-control" autofocus></textarea><br>

        <button class="btn btn-success " type="submit">Submit</button>
    </div>
</form>

{%endblock posts%}

{%block pager%}
{%endblock pager%}