{% extends "blog/bootstrap_base.html" %}
{% load staticfiles %}

{% block title %}{{post.title}}{% endblock %}

{%block header%}
	<br>	
{%endblock header%}

{% block posts %}

{% if error_message %}<p style="color:red" ><strong>{{error_message}}</strong></p>{% endif %}

<form name="editPost" action="{%url 'blog:edit_post' post.slug %}" role="form" method="post" style="padding: 15px;min-width: 250px;" >
    {% csrf_token %}
    <div class="text-left" style="padding: 15px;max-width: 600px;"> 
        Title:
        <br><textarea name="title"  class="form-control " required autofocus >{{post.title}}</textarea><br>
        
        Body:
        <br><textarea name="body" class="form-control" required autofocus rows="20">{{ post.body }}</textarea><br>
       	
       	Tags: (separated by ",")
       	<br><textarea name="tags" class="form-control" required autofocus>{% for tag in post.tags.all %}{{tag.title}}, {% endfor %}
       	</textarea><br>

       	Image URL:
		<br><textarea name="image" class="form-control" autofocus>{{post.image}}
       	</textarea><br>

        <button class="btn btn-success " type="submit">Submit</button>
    </div>
</form>

{%endblock posts%}

{%block pager%}
{%endblock pager%}