{% extends "blog/bootstrap_base.html" %}
{% load staticfiles %}

    {% block title %}
    <title>Home page of OST blog</title>
    {% endblock title%}
 
    {%block posts%}
        {% if posts %}
            {% for post in posts%}
                <div class="blog-post">
                    <h2 class="blog-post-title">{{post.title}}</h2>
                    <p class="blog-post-meta">{{post.modification_date}} by 
                        <a href="{% url 'blog:user_home' post.blog.user.username %}">{{post.blog.user.username}}</a>
                    </p>
                    <hr>
                    <div class="col-xs-6 col-md-4">
                        <a href="http://127.0.0.1:8000/media/documents/2013/12/20/mac_os_x_lion-1920x1080.jpg" class="thumbnail">
                        <img src="http://127.0.0.1:8000/media/documents/2013/12/20/mac_os_x_lion-1920x1080.jpg" alt="...">
                        </a>
                    </div>
                    <p>
                        {% autoescape off %} 
                        {{post.show_short_body}}                        
                        {% endautoescape %} 
                        <br><a href="{% url 'blog:post' post.slug%}">Read more</a>
                    </p>
                    
                </div>
                <br>
                <br>
               
            {%endfor%}

        {% else %}
            <p> There are no any posts yet.</p>
        {% endif %}    

    {%endblock posts%}
    
    {%block blogs%}
        <h4>Blogs</h4>
        <ol class="list-unstyled">
        {% if blogs %}
            {% for blog in blogs %}
                <li><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></li>
            {% endfor %}
        {% else %}
            <li>There are no blogs.</li>
        {% endif %}
        </ol>
    {%endblock blogs%}

    {%block tags%}
    <h4>Tags</h4>
    <ol class="list-unstyled">
        {%if tags%}
            {%for tag in tags %}
                <li><a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a></li>
            {%endfor%}
        {%else %}
            <li>There are no tags yet.</li>
        {%endif%}
    </ol>
    {%endblock tags%}