{% extends "blog/bootstrap_base.html" %}
{% load staticfiles %}

{% block title %}{{post.title}}{% endblock %}

{%block header%}
	
{%endblock header%}

{% block posts %}

<div class="blog-post">
	<br>
	{% if error_message %}<p style="color:red" ><strong>{{error_message}}</strong></p>{% endif %}
    <h2 class="blog-post-title">{{post.title}}</h2>
    <p class="blog-post-meta">{{post.modification_date}} by 
    <a href="{% url 'blog:user_home' post.blog.user.username %}">{{post.blog.user.username}}
    </a>    
    </p>
    <hr>
    {% if post.image %}
        <div class="col-xs-8 col-md-8">
            <a href="{{post.image}}" class="thumbnail">
                <img src="{{post.image}}" alt="...">
            </a>
        </div>
    {% endif %}
    <p>
    {% autoescape off %} 
    {{post.show_html_body}}                        
    {% endautoescape %} 
    </p>
    <p>
    	{% for tag in post.tags.all %}
    		{% if forloop.first %}
    			<b>Tag: </b>
    		{% endif %}
    		<a href="{{ tag.get_absolute_url}}">{{tag.title}}</a>
    		{% if forloop.last %}
                {%else%}
                    ,
                {%endif%}
    	{%empty%}

    	{% endfor %}
	</p>
	
</div>

<a href="{% url 'blog:edit_post' post.slug%}" class="btn btn-info " role="button" >Edit</a>
{%endblock posts%}

{%block pager%}
{%endblock pager%}