{% extends "blog/bootstrap_base.html" %}
{% load staticfiles %}

{% block title %}posts taged by: {{tag.title}}{% endblock %}

{%block header%}
    <h2 class="blog-title">posts taged by: {{tag.title}}</h2>
{%endblock header%}

{% block posts %}

    {% if posts %}
        <ol>
        {% for post in posts %}
            <li class="blog-post">
                <br>
                <h2 class="blog-post-title">{{post.title}}</h2>
                <p class="blog-post-meta">{{post.modification_date}} by
                    <a href="{% url 'blog:user_home' post.blog.user.username %}">{{post.blog.user.username}}
                    </a> 
                </p>
                <hr>
                {% if post.image %}
                        <div class="col-xs-6 col-md-4">
                            <a href="{{post.image}}" class="thumbnail">
                            <img src="{{post.image}}" alt="...">
                            </a>
                        </div>
                {% endif %}
                <p>
                    {% autoescape off %} 
                    {{post.show_short_body}}                        
                    {% endautoescape %} 
                </p>
                <a href="{% url 'blog:post' post.slug%}">Read more</a>
            </li>
        {% endfor %}
        </ol>
    {% else %}
        <p>You don't have posts yet.</p>
    {% endif %}

{% endblock posts%}

{%block pager%}
<br>
<br>
<br>
<ul class="pager">    
        {% if posts.has_previous %}
           <li> <a href="?page={{ posts.previous_page_number }}">previous</a></li>
        {%else%}
           <li class="disabled"> <a>previous</a></li>
        {% endif %}

        {% if posts.has_next %}
            <li><a href="?page={{ posts.next_page_number }}">next</a></li>
        {%else%}
            <li class="disabled"> <a>next</a></li>
        {% endif %}
</ul>
{%endblock pager%}


{%block tags%}
    <h4>Tags</h4>
    <ol class="list-unstyled">
        {%if tags%}
            {%for tag in tags %}
                <li><a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a></li>
            {%endfor%}
        {%else %}
            <li>There are no tags yet.</li>
        {%endif%}
    </ol>
    {%endblock tags%}