{% extends 'blog/bootstrap_base.html' %} 
{% block title %}home page of user:{{ user.username }}{% endblock %}

{%block content%}
<div class="container">
    <div class="blog-header">
        <h2 class="blog-title"> Welcome {{user.username}}</h2>
           
    </div>
 	<div class="row">   
 		<div class="col-sm-8 blog-main">
            {% if user.blog_set.all %}
            <h3 class="lead blog-description">There are your blogs: </h3>
    		<ul>
    		{% for blog in user.blog_set.all %}
        		<li style="font-size:20px;"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></li>
		    {% endfor %}
    		</ul>
{% else %}
    <p class="lead blog-description"> You don't have blogs yet. Please create a new one. </p>
{% endif %}

<br>

</div><!-- /.blog-main -->

<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
    	<div class="sidebar-module">
		<h4>Your posts:</h4>
			<ol class="list-unstyled">
				{% for blog in user.blog_set.all %}
					{% for post in blog.post_set.all%}
    					<li><a href="{% url 'blog:post' post.slug %}">{{post.title}} </a></li>
    				{% empty %}
                        {% if forloop.first%}
		    			   <p> You don't have any blogs yet.</p>
                        {% endif%}
    				{% endfor %}
    			{% empty %}
    				<p> You don't have any blogs yet.</p>
    			{% endfor %}
    		</ol>
    	</div>

        <div class="sidebar-module">
            <h4>Operations:</h4>
            <a href="{% url 'blog:create_blog' user.username%}">new blog</a>
        </div>
        
	</div>
</div>

</div><!-- /.raw -->
</div><!-- /.container -->
{%endblock content%}